body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: black;
    /* gibackground-image: url(../img/backg_texture.jpg); */
    background-size: 400px 400px;
}
.title {
    text-align: center;
    font-size: 20px;
}
.justify {
    text-align: justify;

}

.table {
    width: 100%;
    border: 2px solid #000;
    border-collapse: collapse;
    table-layout: fixed;
}
.table th {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    padding: 5px 10px;
    color: rgb(35, 35, 99);

}
.table td {
    padding: 5px 10px;
    border: 2px solid #000;

}
.table tfoot td {
    text-align: right;
}
/*Post*/
.post {
    width: 700px;
    height: 400px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
   

}
.post-title {
    color: chocolate;
}
.post {
    background-image: url(../img/backg_page.jpg);
    background-size: cover;
    background-position: center;
}
.post-text p {
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}